# data (Don't upload)
data/
data/*

# generated tiles
*/tiles/
*/cosmx_tiles/
*.dzi
*_files/

# debug outputs
debug_alignment/
*.png
*.jpg

# python
__pycache__/
*.pyc
*.pyo

# environment
.env
.envs/
.venv/
*.yml

# OS
.DS_Store
Thumbs.db

# VSCode / IDE
.vscode/
.idea/

# logs
*.log
